<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">
	
	<!-- c3p0가 전에 사용하던 dataSource 보다 메모리 관리가 잘되며, 보안성이 좋다  -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"/>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/potpole?autoReconnect=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Seoul&amp;useSSL=false&amp;allowPublicKeyRetrieval=true"/>
		<property name="user" value="darkonyx"/>
		<property name="password" value="8578"/>
		<property name="initialPoolSize" value="20"/>
		<property name="maxPoolSize" value="200"/>
		<property name="acquireRetryAttempts" value="10"></property>
    	<property name="preferredTestQuery" value="SELECT 1" />
		<property name="testConnectionOnCheckin" value="true"></property>
		<property name="testConnectionOnCheckout" value="false"></property>
		<property name="idleConnectionTestPeriod" value="60"></property>
		<property name="maxIdleTime" value="300"></property>
	</bean>
	<!-- 
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/potpole??autoReconnect=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Seoul&amp;useSSL=true" />
		<property name="username" value="darkonyx" />
		<property name="password" value="8578" />
	</bean>
	-->

</beans>
